header{
    max-width: 1400px;
    width: 95%;
    margin: auto;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 150px;
    max-width: 1400px;
    width: 95%;

}

article{
    text-align: center;
    margin: auto;
    width: 300px;
    height: auto;
    overflow-wrap: break-word;
}

img{
    width: 300px;
    height: auto;
    border-radius: 30% 0% 30% 30%;
}

p{
    font-size: 12px;
}