header{
    max-width: 1400px;
    width: 95%;
    margin: auto;
    padding-left: 10px;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    max-width: 1400px;
    width: 95%;

}

div{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 24%;
    height: 20%;
}

img{
    width: 100%;
    height: auto;
    border-radius: 30% 0% 30% 30%;
}

p{
    font-size: 1 rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}